<?php
use MuMVC\Registry;
$reg = Registry::instance();

$reg->caching = FALSE;
$reg->caching_db = TRUE;
$reg->caching_routes = TRUE;

$reg->db_params = array(
	'dbname' 	=> 'MuMVC',
	'username' 	=> 'MuMVC',
	'password' 	=> 'MuMVC',
	'server' 	=> 'localhost',
);

$reg->route_patterns = array(
	'mobile_mumvc' => array('/mobile/MuMVC(/:action)', array(
			'controller' => 'mobile_mumvc', 
			'action' => 'index')),	
	'mumvc' => array('/MuMVC(/:action)', array(
			'controller' => 'mumvc', 
			'action' => 'index')),
	'default' => array('/(:controller)(/:action)(/:id)', array(
		// defaults
		'controller' => 'controller',
		'action'	 => 'index'))
);
$reg->admin_email 	= 'kompadre@gmail.com';
$reg->log_file 		= '/tmp/mumvc.log';