<?php
Registry::instance()->production = FALSE;
Registry::instance()->db_params = array(
	'driver' => 'mysql',
  'dbname' => 'zf2',
  'username'   => 'zf2',
  'password'   => 'zf2',
  'server' => 'localhost',
);

